.wrapper{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 0 auto;
    box-shadow: rgba(0, 0, 0, 1);
    background-color: #fff;
    max-width: 1260px;
    overflow: hidden;
  }

  header {
    background-color: #4c3016;
    color: white;
  }
  
  header h2{
    margin: 0px 0 0px 20px;
    padding: 30px 0 30px 0;
  }